/* ――――――――――――――――――――――――――――――――――― Fontes @import ―――――――――――――――――――――――――――――――――――  */ 


/* ――――――――――――――――――――――――――――――――――― Variáveis CSS ―――――――――――――――――――――――――――――――――――  */
:root {
    --header-heigth: 3rem;

    /* ――――――――――――――――――――――――――――――――――― Cores ――――――――――――――――――――――――――――――――――― */
    /* === Alteração para cor principal === */
    --hue-color: ; /* Cor 000 - Cor 000 - Cor 000 - Cor 000*/

    /* === Modo de coloração HSL === */
    --first-color: ; /* Use: hsl(var(--hue-color), saturation %, lightness%) */
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
    --body-color: ;
    --container-color: ;

    /* ――――――――――――――――――――――――――――――――――― Fonte e tipografia ―――――――――――――――――――――――――――――――――――  */
    --body-font: ; /* Use: 'Poppins', sans-serif por exemplo */

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px, 2.5rem = 40px, 3rem = 48px, 3.5rem = 56px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* === Peso da fonte === */
    --font-medium: ; /* Tamanho de acordo com a fonte escolhida */
    --font-semi-bold: ;

    /* ――――――――――――――――――――――――――――――――――― Espaçamentos bottom ―――――――――――――――――――――――――――――――――――  */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ――――――――――――――――――――――――――――――――――― z-index ―――――――――――――――――――――――――――――――――――  */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ――――――――――――――――――――――――――――――――――― Font size para dispositivos largos ――――――――――――――――――――――――――――――――――― */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ――――――――――――――――――――――――――――――――――― Reset's ―――――――――――――――――――――――――――――――――――  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-heigth) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ――――――――――――――――――――――――――――――――――― Classes reutilizaveis ―――――――――――――――――――――――――――――――――――  */
.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

/* ――――――――――――――――――――――――――――――――――― Layout ―――――――――――――――――――――――――――――――――――  */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}